{% extends 'base.html' %}

{% load i18n %}
{% block title %}
  {% trans "Overview" %}
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% endblock page_header %}

{% block main %}
  {% for post in posts %}
    <div>
      <p>published: {{ post.created_date }}</p>
      <h1><a href="{% url 'horizon:news:overview:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}
{% endblock %}

