@import "bootstrap/variables";
@import "horizon/variables";
@import "/horizon/lib/font_awesome/scss/variables";

/* Custom Variables */
$font-size-base: 13px;
$brand-color: #666465; 
$topbar-link-hover: #3c3a3b;
$white: #fff;
$light-grey: #3c3a3b;

$brand-primary: $brand-color;

$nav-active-color: #3c3a3b;
$nav-hover-color: #3c3a3b;

$table-bg: #efefef;
